/*
--- 001 TYPOGRAPHY SYSTEM
- Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
default: 400
medium: 500
semi-bold: 600
bold: 700

- Line heigths:
default: 1
small: 1.05
medium: 1.2
larg: 1.8
paragraph defailt: 1.6

--- 02 COLORS
- Primary: #25062D

tool: maketintsandshades.com
- Tints: (light version)
#fdf2e9
#fae5d3
#eb984e
- Shades: (darker version)
#cf711f
#45260a;
- Accents:
- Greys:
#888
#767676 (lightest grey allowed on white)
#555
#333
#6f6f6f (lightest grey allowed on #fdf2e9)
--- 05  SHADOWS
 0 2.4rem 4.8rem rgba(0,0,0,0.075);
--- 06 BORDER-RADIUS
default: 9px
medium: 11px
--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  --purple: #25062d;
  --dark_purple: #66516c;
  --yellow: #fdb124;
  --orange: #e76d38;
  --dark_orange: #b9572d;
  --lightest_purple: #e9e6ea;
  --dark_pink: #54163a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */

  /* Percentage of users browser font size setting */
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--lightest_purple);
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 5%;
}

.grid {
  display: grid;
  gap: 0;
}

/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
/* Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

.heading-primary {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 1;
  margin-bottom: 3.2rem;
}

.heading-tertiary {
  font-size: 2.4rem;
  line-height: 1.5;
}

.btn {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--orange);
  border: none;
  padding: 1.6rem;
  color: #e9e6ea;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;
}

.btn:hover,
.btn:active {
  background: var(--dark_orange);
  color: #fff;
}

#btn-form {
  padding: 0;
  margin: 0;
  background-color: #54163a;
}

.highlight-yellow {
  color: var(--yellow);
}

/*  Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
