 /*************************************/
/*********BELOW 1344px (smaller desktop)*********/
/************************************/

 /* 1350 / 16 */
@media (max-width: 107.0em) {
    html {
        /* 9.5px */
        font-size: 59.37%;
    }

    
    /* .hero-img img {
        width: 105%;
    } */
}

@media(max-width:93.75em) {
    html {
        font-size: 56.25%;
    }
}

/* below 1400px */
@media(max-width:88.5em) {
    /* .hero-grid {
        grid-template-columns: 60% 40%;
    } */

    /* .hero-img img {
        width: 135%;
       
    } */
    .heading-primary {
        font-size: 4.0rem;
    }
    .heading-secondary {
        font-size: 3.2rem;
    }
    .heading-tertiary {
        font-size: 2.2rem;
    }
}

/* below 1310px */

@media(max-width:81.875em) {
    html {
        font-size: 52.125%;
    }

    .card-box {
        height: 62rem;
    }

    
    /* .hero-grid {
        grid-template-columns: 62% 48%;
    } */
    .hero-img img {
        width: 134%;
        margin-left: -18rem;
    } 
}

/* below 1200px */

@media(max-width:75em) {

    .hero-grid {
        grid-template-columns: 68% 42%;
    }

    .hero-img img {
        
        margin-left: -28rem;
    }

    .card-box {
        height: 50rem;
        grid-template-columns: 0.45fr 0.15fr;
    }

    .card-box--even {
        grid-template-columns: 0.15fr 0.45fr;
    }

    .card-img--odd {
        margin-top: -2rem;
        margin-left: -8rem;
    }

    .card-img--even {
        margin-top: -2rem;
        margin-right: -8rem;
    }

    .card-title {
        font-size: 2.5rem;
        margin: 4rem 0 2rem 0;
    }

    .card-description {
        font-size: 1.8rem;
    }

}

/* below 1012px */

@media(max-width:63.25em) {
    html {
        font-size: 46.875%;
    }

    .heading-tertiary-box {
        margin: 0 12rem;
    }


    .hero-grid {
       
        text-align: center;
        grid-template-columns: 1fr;
    }

    .hero-text-content {
        padding: 8rem 0 2rem 0;
      }

    

      .hero-img {
        text-align: center;
        margin: 0;
      }

    .hero-img img {
        width: 65%;
        margin: 0;
    }

    .banner {
        /* height: 2rem; */
        background: var(--purple);
    }


    .card-img img {
        height: 25rem;
      }
}

@media(max-width:43.75em) {
    html {
        font-size: 37.5%;
    }

    .main-nav {
        display: none;
    }

    .menu {
        display: block;
    }

    .hero-headings {
        width: 100%;
        
        text-align: center;
    }

    .heading-tertiary-box {
        margin: 0 2rem;
        
    }

    .hero-img img {
        width: 75%;
        
    }

    .programme-cards {
        gap: 20rem;
    }

    .cta-container {
        width: 90%;
        padding: 4rem;
    }

    .cta-form {
        grid-template-columns: 1fr;
    }

    .cta-form button {
        margin-top: 2rem;
    }

    .section-cta {
        padding: 8rem 0;
    }
}

/* below  480px */

@media(max-width:30em) {

    .hero-img img {
        width: 90%;
        
    }

    .card-box {
        height: 50rem;
        grid-template-columns: 0.55fr 0.15fr;
    }

    .card-box--even {
        grid-template-columns: 0.15fr 0.55fr;
    }

}