 /**************************************/
/**********BELOW 1344px (smaller desktop)*********/
/**************************************/
 /* 1350 / 16 */
 @media (max-width: 93.75em) {
    html {
        font-size: 52.25%;
    }

    .hero-grid {
        height: 40vw;
        grid-template-columns: 55% 45%;
    }
 }
