/* below 1200px */

@media (max-width: 75em) {
    .card:nth-child(odd), .card:nth-child(even) {
        align-self: center;
    }

    .card:nth-child(even) {
        grid-template-columns: 50fr 60fr;
    }

     .card:nth-child(even) .card-text {
        grid-row: 1;
     

    }

    .card:nth-child(even) .card-img img {
        left: -12%;
        
    } 
}

/* below 1004px */

@media (max-width: 59.375rem) {
    html {
        font-size: 56.25%;
    }

    .heading-description-box {
        width: 85%;
      }

    .hero-img img {
        top: 27%;
        width: 80%;
        left: 28%;
    }    
}

    /* below 730px */
@media (max-width: 45.625em) {

    .main-nav {
        display: none;
    }

    .menu {
        display: block;
    }

    .hero-text-content {
        padding-top: 4rem;
    }

    .hero-grid {
        
       grid-template-columns: 1fr;
    }

  

    .hero-img {
        text-align: center;
        
    }

    .hero-img img {
        width: 108%;
        top: 40%;
        left: -2%;
        height: 36rem;
       /* top: 43%;
       left: -2%;
       height: 38rem; */
        
    }

    .programme-cards {
        row-gap: 8rem;
        padding: 4rem 0;
    }

    .card {
        grid-template-columns: 60fr 50fr;
    }

    .card-text {
        width: 30rem;
    }

    .card:nth-child(even) .card-text {
        
        padding: 6rem 5.5rem 6rem 5rem;
    }

    .footer-container {
        flex-direction: column;
        justify-content: space-around;
        
    }
}

@media (max-width: 37.5em) {

    .hero-section {
        padding: 0 1.8rem;
    }

    .main-header {
        height: 10rem;
    }

    .hero-text-content {
        text-align: center;
       
    }

    .hero-date {
        text-align: start;
        margin-top: 5rem;
    }

    .heading-description-box {
        width: 100%;
      }

    .card, .card:nth-child(even) {
        height: auto;
       grid-template-columns: 1fr;
       
       /* display: flex;
       flex-direction: column;
       align-items: center; */
    }

    .card:nth-child(even) .card-text {
        grid-row: 2;

    }

    .card:nth-child(even) .card-img, .card:nth-child(odd) .card-img {
        width: 100%;
        
    }

    .card:nth-child(even) .card-img img, .card:nth-child(odd) .card-img img {
        position: relative;
        top: 0;
        left: 0;
     }


     .card-text, .card:nth-child(even) .card-text {
        padding: 4rem 2rem;
        width: 100%;
        height: auto;
        text-align: center;
     }

     .section-programme {
        padding: 14rem 0 4rem 0;
     }

     .cta-form {
        grid-template-columns: 1fr;
     }

}

@media(max-width: 33.4375em) {
    

    

    .heading-primary {
        font-size: 2.4rem;
    }

    .heading-secondary {
        font-size: 1.6rem;
    }

    .card {
        padding: 0 2rem;
    }
}

@media(max-width: 27em) {
    .hero-grid {
        height: 48rem;
    
    }

    .hero-img img {
        top: 60%;
        left: -10%;
        width: 120%;
        height: 26rem;

    }


}

@media(max-width: 22.5em)
{
    .cta-container {
        width: 90%;
    }
}