/* **************************** */

/* ********HERO SECTION******** */

/* **************************** */

.home-section {
  max-width: 100%;
  background: linear-gradient(to bottom, rgb(84, 22, 58), rgba(231, 109, 56, 1));
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.4rem;
  color: var(--lightest_purple);
  height: 12rem;
}

.main-header a {
  color: var(--lightest_purple);
  text-decoration: none;
}

.main-nav-link {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
  flex-wrap: wrap;
}

.main-nav-link li {
  cursor: pointer;
  transition: all 0.3s;
}

.main-nav-link li:hover,
.main-nav-link li:active {
  color: var(--orange);
}


.hero-grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: 55% 40%;
  height: 80rem;
}

.hero-date {
  font-size: 3rem;
  line-height: 1;
  margin-top: 4rem;
}

.hero-text-content {
  padding: 12rem 0;
  z-index: 5;
}

.hero-img {
  align-self: end;
  z-index: 0;
}

.hero-img img {
  width: 120%;
  margin-left: -12rem;
}

.banner {
  max-width: 100vw;
  margin-top: -12rem;
  height: 4rem;
  background: var(--purple);
  background: red;
}

/* **************************** */

/* ********PROGRAMME SECTION******** */

/* **************************** */

.section-programme {
  background-color: var(--purple);
  width: 100%;
  padding: 20rem 0 12rem 0;
  
}

.programme-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16rem;
  gap: 24rem;
}

.card-box {
  position: relative;
  display: grid;
  grid-template-columns: 0.5fr 0.15fr;
  align-items: center;
  justify-content: center;
  height: 64rem;
}

.card-box--even {
  grid-template-columns: 0.15fr 0.5fr;
}

.card-text-box {
  height: 100%;
  background: rgb(124, 106, 129, 22%);
  transform: rotate(-8deg);
}

.card-text--even {
  text-align: end;
}

.card-text-box--even {
  transform: rotate(8deg);
}

.card-text-box--even .card-text--even {
  transform: rotate(-8deg);
}

.card-img--even {
  margin-top: -8rem;
  margin-right: -12rem;
}

.card-img--odd {
  margin-top: -8rem;
  margin-left: -12rem;
}

.card-text {
  padding: 2rem 8rem 0 8rem;
  transform: rotate(8deg);
}

.card-title {
  font-size: 3rem;
  line-height: 2;
  margin: 8rem 0 4rem 0;
  font-weight: 500;
}

.card-description {
  font-size: 2.2rem;
  line-height: 1.8;
  letter-spacing: .5px;
}

.card-img {
  overflow-y: hidden;
  z-index: 100;
}

.card-img img {
  object-fit: cover;
  max-width: 100%;
  height: 30rem;
  border: 4px solid var(--dark_pink);
}

/* **************************** */

/* ********CTA SECTION******** */

/* **************************** */

.section-cta {
  background-color: var(--purple);
  padding: 16rem 0;
  display: flex;
  justify-content: center;
}

.cta-container {
  width: 80%;
  background-color: var(--lightest_purple);
  padding: 8rem 12rem;
}

.cta-heading {
  font-size: 3rem;
  line-height: 1.05;
  color: var(--orange);
  font-weight: 500;
  margin-bottom: 5rem;
  text-align: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  color: var(--dark_purple);
  align-items: end;
}

.cta-form label {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form button {
  font-size: 2rem;
  font-family: inherit;
  height:6rem;

}

.cta-form input,
.cta-form select {
  outline: none;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  background: var(--lightest_purple);
  color: var(--dark_purple);
  border: 1px solid var(--dark_purple);
}

/* **************************** */

/* ********FOOTER SECTION******** */

/* **************************** */

.section-footer {
  background-color: var(--purple);
  height: 12rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--lightest_purple);
}

.copyright {
  font-size: 1.8rem;
}
